
// login scss

form{
    margin-top: 10rem;
    padding: 10px;
    box-shadow: 0 20px 10px 10px gray;
    background-color: #7C4DFF;
    .form-group{
        width: 300px;

        input{
            height: 50px;
        }
    }
    .header{
        color: white;
    }
    button{
        background-color: #FF6E40;
        color: white;
    }
}

.user{
    margin-top: 40%;
}

input.ng-invalid{
    border-left: 5px solid red;
}

input.ng-valid{
    border-left: 5px solid green;
}

.error{
    
    color: #69F0AE;
    font-weight: 50px;
}


